* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Play game screen */
#play_game_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#play_game_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#play_game_form>input[type="submit"] {
    margin: 15px;
    font-size: 18px;
    height: 40px;
    width: 150px;
}

#play_game_form>input[type="number"] {
    margin: 15px;
    font-size: 18px;
    height: 30px;
    width: 50px;
}

/* Boards container */

#boards-container {
    justify-content: space-evenly;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 60px);
    grid-template-rows: repeat(10, 60px);
}

.board>div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 2px solid black;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    height: 60px;
    width: 60px;
    text-decoration: none;
}

.board>div:hover {
    background-color: rgb(2, 2, 2, 0.2);
}

.ship {
    background-color: rgb(77, 51, 34);
    height: 50px;
    width: 50px;
}
.hit-ship {
    background-color: #d14444;
    height: 50px;
    width: 50px;
}

.hit-square {
    text-align: center;
    font-size: 25px;
}